<?xml version ="1.0"?>
<configuration>
    <configSections>
        <section name="msbuildToolsets" type="Microsoft.Build.BuildEngine.ToolsetConfigurationSection, Microsoft.Build.Engine, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0.30319" />
        <requiredRuntime version="v4.0.30319" safemode="true"/>
    </startup>
    <runtime>
        <UseSmallInternalThreadStacks enabled="true" />
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="PublicAssemblies;PrivateAssemblies;CommonExtensions\Microsoft\TemplateProviders;StartPageAssemblies;CommonExtensions\Microsoft\Editor;CommonExtensions\Platform\Debugger"/>
            <dependentAssembly>
              <assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
              <bindingRedirect oldVersion="12.0.0.0-14.0.0.0" newVersion="4.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Shell" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
                <bindingRedirect oldVersion="2.0.0.0" newVersion="10.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Shell.9.0" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
                <bindingRedirect oldVersion="2.0.0.0" newVersion="10.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="EnvDTE" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
                <bindingRedirect oldVersion="7.0.3300.0" newVersion="8.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
                <bindingRedirect oldVersion="9.0.242.0" newVersion="3.5.0000.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.SqlServerCe.Client" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
                <bindingRedirect oldVersion="9.0.242.0" newVersion="3.5.0000.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.vspEnumerator" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
                <bindingRedirect oldVersion="9.0.242.0" newVersion="3.5.0000.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.vspManagementUI" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
                <bindingRedirect oldVersion="9.0.242.0" newVersion="3.5.0000.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VSDesigner" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
                <bindingRedirect oldVersion="8.0.0.0-9.0.0.0" newVersion="10.0.0.0"/>
            </dependentAssembly>
            <qualifyAssembly
                partialName="Microsoft.VisualBasic.Editor"
                fullName="Microsoft.VisualBasic.Editor,version=10.0.0.0,publicKeyToken=b03f5f7f11d50a3a,culture=neutral"/>
            <qualifyAssembly
                partialName="Microsoft.VisualStudio.VisualBasic.LanguageService"
                fullName="Microsoft.VisualStudio.VisualBasic.LanguageService,version=10.0.0.0,publicKeyToken=b03f5f7f11d50a3a,culture=neutral"/>

            <qualifyAssembly
                partialName="Microsoft.XmlEditor"
                fullName="Microsoft.XmlEditor,version=10.0.0.0,publicKeyToken=b03f5f7f11d50a3a,culture=neutral" />
            <dependentAssembly>
              <assemblyIdentity version="10.0.0.0" name="Microsoft.XmlEditor" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
              <codeBase version="10.0.0.0" href="Xml\Microsoft.XmlEditor.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.VisualStudio.Shell.Design" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
                <bindingRedirect oldVersion="2.0.0.0-9.0.0.0" newVersion="10.0.0.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Microsoft.SqlServerCe.Client" />
            <remove invariant="Microsoft.SqlServerCe.Client.3.5" />
            <add name="Microsoft SQL Server Compact Edition Client Data Provider" invariant="Microsoft.SqlServerCe.Client.3.5" description=".NET Framework Data Provider for Microsoft SQL Server Compact Edition Client" type="Microsoft.SqlServerCe.Client.SqlCeClientFactory, Microsoft.SqlServerCe.Client, Version=3.5.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        </DbProviderFactories>
    </system.data>
    <system.net>
        <settings>
            <ipv6 enabled="true" />
        </settings>
    </system.net>
</configuration>
